
* {
    --black: #171717;
    --blue: #2563EB;
    --black88: #1F1F1F;
    --white: #F7F7F7;
    --radius34: 34px;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--black);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    margin-bottom: 88px;
}

    h2::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        background-color: var(--blue);
        height: 4px;
        bottom: -100px;
        border-radius: var(--radius34);
    }

.txt-blue {
    color: var(--blue);
}

.bg-dark {
    background-color: var(--black) !important;
}

.navbar {
    padding: 0;
    margin: 0;
    padding-bottom: 28px;
    padding-top: 28px;
}

[data-bs-theme=dark] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 7.75H3C2.59 7.75 2.25 7.41 2.25 7C2.25 6.59 2.59 6.25 3 6.25H21C21.41 6.25 21.75 6.59 21.75 7C21.75 7.41 21.41 7.75 21 7.75Z' fill='white'/%3E%3Cpath d='M21 12.75H3C2.59 12.75 2.25 12.41 2.25 12C2.25 11.59 2.59 11.25 3 11.25H21C21.41 11.25 21.75 11.59 21.75 12C21.75 12.41 21.41 12.75 21 12.75Z' fill='white'/%3E%3Cpath d='M21 17.75H3C2.59 17.75 2.25 17.41 2.25 17C2.25 16.59 2.59 16.25 3 16.25H21C21.41 16.25 21.75 16.59 21.75 17C21.75 17.41 21.41 17.75 21 17.75Z' fill='white'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    border: none;
    box-shadow: none;
}

    .navbar .navbar-toggler:hover {
        border: none;
        box-shadow: none;
    }

    .navbar .navbar-toggler:focus {
        border: none;
        box-shadow: none;
    }

.navbar img {
    width: 50px;
}

.heading {
    padding-top: 24px;
}

    .heading img {
        max-height: 498px;
        width: 100%;
        object-fit: cover;
    }

    .heading .name {
        font-size: 96px;
        font-weight: 800;
    }

    .heading .title {
        font-size: 48px;
        font-weight: 300;
        text-decoration: underline;
    }

    .heading h1 {
        line-height: 1.25;
        margin-bottom: 0;
    }

    .heading .social {
        display: flex;
        flex-direction: column;
    }

        .heading .social img {
            width: 24px;
            margin-bottom: 24px;
        }

    .heading .to-bottom {
        margin-top: 54px;
    }

        .heading .to-bottom img {
            width: 24px;
            transform: translateX(-50%);
            animation: bounce 1.5s infinite;
        }

.about {
    padding-top: 120px;
}

    .about img {
        max-height: 250px;
        object-fit: cover;
    }

    .about .about-img {
        text-align: end;
    }

    .about .row {
        --bs-gutter-x: 40px;
    }

    .about p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
        text-align: justify;
    }

    .about .info {
        margin-top: 32px;
    }

    .about .label {
        margin-bottom: 12px;
        font-weight: 600;
    }

    .about .value {
        font-weight: 400;
    }

.navbar-expand-lg .navbar-nav {
    margin-right: 0 !important;
    margin: auto;
}

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }

    .navbar-expand-lg .navbar-nav .btn {
        font-weight: 600;
        background-color: var(--blue);
        -ms-border-radius: var(--radius34);
        border-radius: var(--radius34);
        padding: 8px 14px;
        margin-left: 22px;
        margin-right: 0;
    }

.counters {
    margin-top: 88px;
    margin-bottom: 120px;
}

    .counters .card {
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: var(--black88);
        border-radius: 10px;
    }

        .counters .card .card-body {
            padding: 30px;
        }

        .counters .card .count {
            color: var(--blue);
            font-weight: 800;
            font-size: 64px;
            margin-bottom: 0;
            text-align: center;
        }

        .counters .card .text {
            font-weight: 400;
            font-size: 20px;
            color: var(--white);
            margin-bottom: 0;
            text-align: center;
        }

.experience {
    margin-top: 120px;
    padding-bottom: 120px;
}

    .experience .experience-cards {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 50px;
    }

        .experience .experience-cards .card {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: var(--black88);
            border-radius: 10px;
            color: var(--white);
        }

            .experience .experience-cards .card .card-body {
                padding: 25px;
            }

                .experience .experience-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 20px;
                }

                    .experience .experience-cards .card .card-body .head-section img {
                        width: 56px;
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text h3 {
                        margin-bottom: 8px;
                        font-weight: 600;
                        font-size: 24px;
                        color: var(--blue);
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text p {
                        margin-bottom: 0;
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                    }

                .experience .experience-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }

.skills {
    margin-top: 120px;
    padding-bottom: 120px;
}

.skills-badges {
    display: flex;
    flex-wrap: wrap;
    row-gap: 42px;
    column-gap: 24px;
    justify-content: center;
}

    .skills-badges > div {
        width: calc(25% - 24px); /* 5 تا در هر ردیف */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 52px;
        border: 1px solid;
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .skills-badges img {
        max-width: 32px;
        height: auto;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .skills-badges text {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
    }

.latest-projects {
    margin-top: 120px;
    padding-bottom: 120px;
}

    .latest-projects .latest-projects-cards {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 50px;
    }

        .latest-projects .latest-projects-cards .card {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: var(--black88);
            border-radius: 10px;
            color: var(--white);
            height: 100%;
        }

            .latest-projects .latest-projects-cards .card .card-body {
                padding: 25px;
                display: flex;
                flex-direction: column;
                height: 100%;
            }

                .latest-projects .latest-projects-cards .card .card-body .head-section {
                    display: flex;
                    gap: 16px;
                    margin-bottom: 16px;
                    flex-direction: column;
                }

                    .latest-projects .latest-projects-cards .card .card-body .head-section img {
                        width: 100%;
                    }

                    .latest-projects .latest-projects-cards .card .card-body .head-section .head-text h3 {
                        font-weight: 600;
                        font-size: 24px;
                        margin-bottom: 0;
                        color: var(--blue);
                    }

                .latest-projects .latest-projects-cards .card .card-body .text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }

                .latest-projects .latest-projects-cards .card .card-body .tags {
                    display: flex;
                    gap: 8px;
                    margin-top: auto;
                    padding-top: 16px;
                }

                    .latest-projects .latest-projects-cards .card .card-body .tags > div {
                        border: 1px solid;
                        border-radius: 4px;
                        padding: 4px;
                        font-size: 14px;
                    }

.other-projects {
    margin-top: 120px;
    padding-bottom: 120px;
}

    .other-projects .other-projects-cards {
        --bs-gutter-y: 64px;
    }

        .other-projects .other-projects-cards .card {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: var(--black88);
            border-radius: 10px;
            color: var(--white);
        }

            .other-projects .other-projects-cards .card .card-body {
                padding: 25px;
            }

                .other-projects .other-projects-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 20px;
                }

                    .other-projects .other-projects-cards .card .card-body .head-section img {
                        width: 56px;
                        border-radius: 4px;
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text h3 {
                        margin-bottom: 8px;
                        font-weight: 600;
                        font-size: 24px;
                        color: var(--blue);
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text p {
                        margin-bottom: 0;
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                    }

                .other-projects .other-projects-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }

.contact {
    margin-top: 120px;
    padding-bottom: 120px;
}

    .contact .text {
        font-weight: 400;
        font-size: 20px;
        line-height: 170%;
        text-align: justify;
        margin-bottom: 88px;
    }

    .contact .btn {
        font-weight: 600;
        background-color: var(--blue);
        -ms-border-radius: var(--radius34);
        border-radius: var(--radius34);
        padding: 8px 14px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 88px;
        color: white;
    }

    .contact .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

        .contact .social img {
            width: 24px;
            margin-bottom: 24px;
        }

footer {
    max-width: 100%;
    background-color: var(--black88);
}
.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
}

@media (max-width: 991.9px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .navbar-nav {
        text-align: center;
    }

        .navbar-nav .nav-link {
            color: white;
        }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
        margin-right: 0;
        margin-left: 0;
        font-size: 14px;
    }

    .nav-item {
        margin: auto;
    }

    .navbar-expand-lg .navbar-nav .btn {
        width: max-content;
        padding: 8px 14px;
    }

    .heading img {
        max-height: 280px;
        width: unset;
        margin-bottom: 24px;
    }

    .navbar {
        padding-top: 24px;
        padding-bottom: 0;
    }

    .heading .name {
        font-size: 48px;
    }

    .heading .title {
        font-size: 32px;
    }

    .heading .row {
        text-align: center;
    }

    .heading .social {
        flex-direction: row;
        margin-top: 24px;
        justify-content: center;
    }

        .heading .social img {
            width: 24px;
            margin-bottom: 0;
            margin-left: 12px;
            margin-right: 12px;
        }

    .heading .to-bottom {
        margin-top: 32px;
        margin-left: auto;
    }

    .about {
        padding-top: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .about .about-img {
        text-align: center;
        margin-bottom: 40px;
    }

    .counters {
        margin-bottom: 64px;
    }

        .counters .card .text {
            margin-bottom: 24px;
        }

    .experience {
        margin-top: 48px;
        padding-bottom: 48px;
    }

        .experience .experience-cards {
            --bs-gutter-y: 24px;
        }

            .experience .experience-cards .card .card-body {
                padding: 16px;
            }

                .experience .experience-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 8px;
                }

                    .experience .experience-cards .card .card-body .head-section img {
                        width: 44px;
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text h3 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 100%;
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text p {
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 100%;
                    }

                .experience .experience-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 170%;
                }

    .skills {
        padding-bottom: 48px;
    }

    .skills-badges {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
    }

        .skills-badges > div {
            width: calc(50% - 16px); /* 5 تا در هر ردیف */
        }

        .skills-badges img {
            margin-right: 0;
        }

        /*.skills-badges text {
            display: none;
        }*/

    .latest-projects .latest-projects-cards {
        --bs-gutter-y: 24px;
    }

        .latest-projects .latest-projects-cards .card {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: var(--black88);
            border-radius: 10px;
            color: var(--white);
            height: 100%;
        }

            .latest-projects .latest-projects-cards .card .card-body {
                padding: 16px;
            }

                .latest-projects .latest-projects-cards .card .card-body .tags > div {
                    font-size: 12px;
                }

    .other-projects {
        margin-top: 48px;
        padding-bottom: 48px;
    }

        .other-projects .other-projects-cards {
            --bs-gutter-y: 24px;
        }

            .other-projects .other-projects-cards .card .card-body {
                padding: 16px;
            }

                .other-projects .other-projects-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 8px;
                }

                    .other-projects .other-projects-cards .card .card-body .head-section img {
                        width: 44px;
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text h3 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 100%;
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text p {
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 100%;
                    }

                .other-projects .other-projects-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 170%;
                }
}


/* انیمیشن تکان خوردن */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-10px);
    }

    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}
