@media (min-width: 768px) and (max-width: 991.9px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .navbar-nav {
        text-align: center;
    }

        .navbar-nav .nav-link {
            color: white;
        }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
        margin-right: 0;
        margin-left: 0;
        font-size: 14px;
    }

    .nav-item {
        margin: auto;
    }

    .navbar-expand-lg .navbar-nav .btn {
        width: max-content;
        padding: 8px 14px;
    }

    .heading img {
        max-height: 280px;
        width: unset;
        margin-bottom: 0;
    }

    .navbar {
        padding-top: 24px;
        padding-bottom: 0;
    }

    .heading .name {
        font-size: 48px;
    }

    .heading .title {
        font-size: 32px;
    }

    .heading .row {
        text-align: center;
    }

    .heading .social {
        flex-direction: column;
        margin-top: 0;
        justify-content: center;
    }

        .heading .social img {
            width: 24px;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
        }

    .heading .to-bottom {
        margin-top: 32px;
        margin-left: auto;
    }

    .about {
        padding-top: 64px;
    }

    h2 {
        font-size: 36px;
    }

    .about .about-img {
        text-align: center;
        margin-bottom: 40px;
    } 

    .about .row {
        --bs-gutter-x: 16px;
    }
    .counters {
        margin-bottom: 64px;
    }

        .counters .card .text {
            margin-bottom: 24px;
        }
        .counters .card .card-body {
            padding: 16px;
        }

    .experience {
        padding-top: 64px;
        padding-bottom: 64px;
    }

        .experience .experience-cards {
            --bs-gutter-y: 24px;
        }

            .experience .experience-cards .card .card-body {
                padding: 16px;
            }

                .experience .experience-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 8px;
                }

                    .experience .experience-cards .card .card-body .head-section img {
                        width: 44px;
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text h3 {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 100%;
                    }

                    .experience .experience-cards .card .card-body .head-section .head-text p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                    }

                .experience .experience-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }

    .skills {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .skills-badges {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
    }

        .skills-badges > div {
            width: calc(50% - 16px); /* 5 تا در هر ردیف */
        }

        .skills-badges img {
            margin-right: 0;
        }

    /*.skills-badges text {
            display: none;
        }*/
    .latest-projects {
        padding-top: 64px;
        padding-bottom: 64px;
    }

        .latest-projects .latest-projects-cards {
            --bs-gutter-y: 24px;
        }

            .latest-projects .latest-projects-cards .card {
                box-shadow: 0px 4px 4px 0px #00000040;
                background-color: var(--black88);
                border-radius: 10px;
                color: var(--white);
                height: 100%;
            }

                .latest-projects .latest-projects-cards .card .card-body {
                    padding: 16px;
                }

                    .latest-projects .latest-projects-cards .card .card-body .tags > div {
                        font-size: 12px;
                    }

                    .latest-projects .latest-projects-cards .card .card-body .head-section img {
                        width: 100%;
                        height: 248px;
                        object-fit: cover;
                        border-radius: 8px;
                    }

                    .latest-projects .latest-projects-cards .card .card-body .text {
                        font-size: 16px;
                    }

    .other-projects {
        padding-top: 64px;
        padding-bottom: 64px;
    }

        .other-projects .other-projects-cards {
            --bs-gutter-y: 24px;
        }

            .other-projects .other-projects-cards .card .card-body {
                padding: 16px;
            }

                .other-projects .other-projects-cards .card .card-body .head-section {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    margin-bottom: 8px;
                }

                    .other-projects .other-projects-cards .card .card-body .head-section img {
                        width: 44px;
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text h3 {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 100%;
                    }

                    .other-projects .other-projects-cards .card .card-body .head-section .head-text p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                    }

                .other-projects .other-projects-cards .card .card-body .text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }

    .contact {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
