@page
@using Core.Enum
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header id="header">
    <partial name="_Heading" />
</header>
<div id="about">
    <partial name="_About" />
</div>
<div id="experiences">
    <partial name="_Experience" model="@Model.Experiences.Where(u => u.ExperienceType == ExperienceType.Experience).ToList()" />
</div>
<div id="skills">
    <partial name="_Skills" model="Model.Skills" />
</div>
<div id="latestProjects">
    <partial name="_LatestProjects" model="@Model.Experiences.Where(u => u.ExperienceType == ExperienceType.LatestProjects).ToList()" />
</div>
<div id="otherProjects">
    <partial name="_OtherProjects" model="@Model.Experiences.Where(u => u.ExperienceType == ExperienceType.OtherProjects).ToList()" />
</div>
<div id="contact">
    <partial name="_Contact" />
</div>