@using Portfolio.Classes
<section class="about">
    <div class="row">
        <h2>
            About Me
        </h2>
        <div class="col-12 col-lg-4 col-md-4 about-img">
            <img src="/images/about-picture.png" />
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <p>
                I am a freelance full-stack developer with strong experience in C#, ASP.NET MVC,
                jQuery, AJAX, and modern front-end frameworks such as Bootstrap.
                I hold an engineering degree in computer hardware and have worked on
                more than 30 large-scale projects across various sectors, including government,
                media, and education. I enjoy building scalable, efficient web applications
                and delivering customized solutions that solve real-world problems.
                With a results-driven mindset and strong analytical skills,
                I always aim to create reliable and high-quality digital products
            </p>
            <div class="row justify-content-center info">
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-4 label">Email: </div>
                        <div class="col-8 value">
                            <a href="@StaticValue.EmailTo">
                                @StaticValue.Email
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Location: </div>
                        <div class="col-8 value">Tehran, Iran</div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Phone:</div>
                        <div class="col-8 value">
                            <a href="@StaticValue.TelTo">
                                @StaticValue.Tel
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="row">
                        <div class="col-4 label">Age: </div>
                        <div class="col-8 value">33</div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Education: </div>
                        <div class="col-8 value">IAU</div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Degree:</div>
                        <div class="col-8 value">Bachelor</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center counters">
        <div class="col-10 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center">
                            <p class="count">
                                10+
                            </p>
                            <p class="text">
                                Years of experience
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <p class="count">
                                50+
                            </p>
                            <p class="text">
                                Completed projects
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <p class="count">
                                30+
                            </p>
                            <p class="text">
                                Satisfied clients
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
