<section class="experience">
    <div class="row justify-content-lg-center">
        <h2>
            Experience
        </h2> 
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center experience-cards">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="head-section">
                                    <img src="/images/experience/1630601547072.png"/>
                                    <div class="head-text">
                                        <h3>Full-Stack Developer</h3>
                                        <p>
                                            Snapfood Austria / 2024-present / Remote
                                        </p>
                                    </div>
                                </div>
                                <div class="text">
                                    I work on developing and maintaining scalable backend services using .NET Core and Microsoft SQL Server.
                                    <br/>
                                    I am involved in project analysis and real-time features implementation using SignalR to improve system performance.
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> 
</section>
