@using Portfolio.Classes
<section class="heading">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-4">
            <img src="/images/h1.png"/>
        </div>
        <div class="col-12 col-lg-6 col-md-6 mt-auto">
            <h1>
                <span class="name">
                    Siamak <span class="txt-blue">Jalili</span>
                </span>
                <br/>
                <span class="title">
                    Software engineer
                </span>
            </h1>
        </div>
        <div class="col-12 col-lg-1 col-md-1 mt-auto">
            <div class="social">
                <a href="@StaticValue.Github" title="siamak jalili Github">
                    <img src="images/icon/github-icon.png" alt="siamak jalili Github" />
                </a>
                <a href="@StaticValue.Linkedin" title="siamak jalili Linkedin">
                    <img src="images/icon/linkedin-icon.png" alt="siamak jalili Linkedin" />
                </a>
                <a href="@StaticValue.Nuget" title="siamak jalili Nuget">
                    <img src="images/icon/nuget.png" alt="siamak jalili Nuget" />
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center to-bottom">
        <div class="col-12 text-center">
            <img src="/images/icon/arrow-circle-down.png"/>
        </div>  
    </div>
</section>
