<section class="latest-projects">
    <div class="row justify-content-lg-center">
        <h2>
            Latest Projects
        </h2>
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center latest-projects-cards">
                @for (int i = 0; i < 2; i++)
                {
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="head-section">
                                    <img src="/images/projects/Frame 69-1.png" />
                                    <div class="head-text">
                                        <h3>Allameh Helli</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    Developing a customer parcel registration system by specifying the origin and destination, sending the order to the nearest driver
                                    to pick up the order
                                </div>
                                <div class="tags">
                                    @for (int j = 0; j < 4; j++) 
                                    {
                                        <div>
                                            .net
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="head-section">
                                    <img src="/images/projects/Frame 69-1.png" />
                                    <div class="head-text">
                                        <h3>Allameh Helli</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    Develop sport Eshop website with my Eshop builder core.
                                </div>
                                <div class="tags">
                                    @for (int j = 0; j < 4; j++) 
                                    {
                                        <div>
                                            .net
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
