<!DOCTYPE html>
<html lang="en">
    @{
            var year = DateTime.Now.Year - 2017;
}
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NYK1ZLX80R"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-NYK1ZLX80R');
        </script>



        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Siamak Jalili | Senior Full-Stack Developer · Technical Lead · Technical Product Manager</title>
        <meta name="description" content="Senior Full-Stack Developer and Technical Lead with @year+ years of experience designing scalable systems, leading engineering teams, and building high-impact products end-to-end."/>
        <meta name="robots" content="index, follow">

        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/tablet.css" asp-append-version="true"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <partial name="_Favicons"/>
        <partial name="_Schema"/>
    </head>
<body>
    <div class="container">
        <header>
            <partial name="_Menu" />
        </header>
        @RenderBody()
    </div>

    <footer>
        <partial name="_Footer" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
